<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Nlog\logs\internalLog.txt">

	<targets>
		<target xsi:type="Database"
      name="dbTarget"
      connectionString="Data Source=DESKTOP-6SVGPRV;Initial Catalog=Nlog;Integrated Security=true;"
      commandText="INSERT INTO Logs(Message,LogLevel,InsertDate,StackTrace,MachineName) VALUES (@mesaj,@seviye,@tarih,@trace,@makine)">
			<parameter name="@mesaj" layout="${message}"></parameter>
			<parameter name="@seviye" layout="${level}"></parameter>
			<parameter name="@tarih" layout="${longdate}"></parameter>
			<parameter name="@trace" layout="${stacktrace}"></parameter>
			<parameter name="@makine" layout="${machinename}"></parameter>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="dbTarget" />
	</rules>
</nlog>