@model Tamirci.ViewModel.KategoriViewModel
@{
    ViewBag.Title = "TamirciBaşvuru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="kapat()">
    <div class="breadcrumbs" style="background-color: #e8e8e8;" data-aos="fade-in">
        <div class="container">
            <h2 style="margin-top:10px;">Başvurunuzu İletin</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            @if (@TempData["MesajGonderildi"] != null)
            {
                <div id="dv1" class="alert alert-success">
                    <strong style="font-size:15px;">@TempData["MesajGonderildi"]</strong>
                </div>
            }
            <div class="form mt-5">
                <form id="contact" action="/Tamirciler/TamirciBaşvuru" method="post" enctype="multipart/form-data">
                    <label for="Name">Firmanızın Adı</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="TamirciAdı" id="subject" placeholder="Firmanızın Adı" autofocus required>
                    </div>
                    <br />
                    <label for="Name"> Firmanızın Bulunduğu İl/İlçe Seçiniz</label>
                    @Html.Action("İlİlçe", "Tamirciler")
                    <label for="Name">Firma Adres</label> <br />
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="Tamirci_Adres" rows="7" minlength="20" maxlength="2000" placeholder="Firma Adres" required></textarea>
                    </div>
                    <label for="Name">Firma Telefon</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Tamirci_Telefon" minlength="2" maxlength="100" id="subject" placeholder="Firma Telefon" required>
                    </div>
                    <label for="Name">Firma Mail</label> <br />
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="TamirciMail" minlength="2" maxlength="100" id="subject" placeholder="Firma Mail" required>
                    </div>
                    <label for="Name">Firma Açıklaması</label> <br />
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="Tamirci_Tanım" rows="7" minlength="20" maxlength="2000" placeholder="Firma Açıklaması" required></textarea>
                    </div>
                    <br />
                    <label for="Name">Tamir Kategorisi Seçiniz</label> <br />
                    <br />
                    <div class="form-group mt-3">
                        @Html.DropDownListFor(model => model.Kategoriid, Model.Kategorilist, new { @class = "form-control", @id = "kategori", @style = "width:100%;" })
                    </div>
</div>
            <br />
            <label for="Name">Tamirci Fotoğraf Seçiniz</label> <br />
            <br />
            <input class=" form-control" type="file" name="Tamirci_Fotoğraf" />
            <br />
            <br />

            <button class="btn btn-primary" name="submit" type="submit" id="submit">GÖNDER</button>

            </form>
        </div><!-- End Contact Form -->
        </div>
    </section>
</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    function kapat() {
        setTimeout("document.getElementById('dv1').style.display = 'none'", 3000);
    }
    $(document).ready(function () {
        $("#kategori").select2();
        $("#ilid").select2();
        $("#ilçe").select2();
        $("#ilid").change(function () {
            var id = $(this).val();
            console.log(id);
            var ilçelist = $("#ilçe");
            ilçelist.empty();
            $.ajax({
                url: '/Tamirciler/GetInstitution/',
                type: 'POST',
                dataType: 'json',
                data: { 'id': id },
                success: function (data) {
                    $.each(data, function (index, option) {

                        ilçelist.append('<option value=' + data[index].Value + '>' + data[index].Text + '</option > ');
                    });
                    /* kurumlist.append('<option value=' + data[0].Value + '>' + data[0].Text + '</option > ');*/

                }
            });

        });
    });
</script>
