@{
    ViewBag.Title = "TamirciBaşvuru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body onload="kapat()">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Başvurunuzu İletin</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <section id="contact" class="contact mb-5">
        <div class="container" data-aos="fade-up">

            @if (@TempData["MesajGonderildi"] != null)
            {
                <div id="dv1" class="alert alert-success">
                    <strong style="font-size:15px;">@TempData["MesajGonderildi"]</strong>
                    @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>*@
                </div>
            }
            <div class="form mt-5">
                <form id="contact" action="/Tamirciler/TamirciBaşvuru" method="post">
                    <label for="Name">Firmanızın Adı</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="TamirciAdı" id="subject" placeholder="Firmanızın Adı" autofocus required>
                    </div>
                    <label for="Name">Firmanın Bulunduğu İl</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" minlength="2" maxlength="40" name="Tamirci_İl" id="subject" placeholder="Firmanın Bulunduğu İl" required>
                    </div>
                    <label for="Name">Firma Adres</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Tamirci_Adres" minlength="2" maxlength="100" id="subject" placeholder="Firma Adres" required>
                    </div>
                    <label for="Name">Firma Telefon</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Tamirci_Telefon" minlength="2" maxlength="100" id="subject" placeholder="Firma Telefon" required>
                    </div>
                    <label for="Name">Firma Mail</label> <br />
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" name="TamirciMail" minlength="2" maxlength="100" id="subject" placeholder="Firma Mail" required>
                    </div>
                    <label for="Name">Firma Açıklaması</label> <br />
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="Tamirci_Tanım" rows="7" minlength="20" maxlength="2000" placeholder="Firma Açıklaması" required></textarea>
                    </div>
                    <br />
                    <br />


                    <button class="btn btn-primary" name="submit" type="submit" id="submit">GÖNDER</button>

                </form>

            </div><!-- End Contact Form -->

        </div>
    </section>
</body>
<script>
    function kapat() {
        setTimeout("document.getElementById('dv1').style.display = 'none'", 3000);
    }
</script>

