@model Tamirci.Models.İl
@{
    ViewBag.Title = "Addİl";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Yeni İl Ekle</h3>

            @using (Html.BeginForm("Addİl", "Admin", FormMethod.Post))
            {
                <label for="Baslik">İl Adı</label> <br />
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <button class="btn btn-outline-primary"><i class="mdi mdi-content-save"></i>&nbsp;&nbsp;Ekle</button>
            }

        </div>
    </div>
</div>
