@model Tamirci.Models.İl
@{
    ViewBag.Title = "Getİl";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İl Güncelle</h4>



            @using (Html.BeginForm("Updateİl", "Admin", FormMethod.Post))
            {
                <label for="Vision">Id</label> <br />
                @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
                <br />
                <label for="Vision">Hakkımızda Yazısı Başlığı</label> <br />
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <br />
                <button class="btn btn-outline-warning"><i class="mdi mdi-content-save"></i>&nbsp;&nbsp;Güncelle</button>
            }
            <br />
            <br />
        </div>
    </div>
</div>