@using Tamirci.Models
@model List<Mesajlar>

<a href="~/Admin/Mesajlar" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i>Gelen Mesajlar&nbsp; &nbsp;<span class="badge badge-pill badge-danger">@Model.Count</span></a>
