@using Tamirci.Models
@model List<Tamirciler>
 
<a href="~/Admin/Başvuru" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-folder-multiple-outline text-primary me-2"></i>Gelen Başvurular<span class="badge badge-pill badge-danger">@Model.Count</span></a>
