@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="~/Style/metasweb/images/logo.png" />
    <title>TAMİRCİM.COM</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/Style/admintemp/admintemp/template/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Content/Style/admintemp/admintemp/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/Style/admintemp/admintemp/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/Style/admintemp/admintemp/template/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/Content/Style/admintemp/admintemp/template/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/Style/admintemp/admintemp/template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/Style/admintemp/admintemp/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    @*<link rel="shortcut icon" href="~/Style/star-admin2-free-admin-template-main/star-admin2-free-admin-template-main/template/images/favicon.png" />*@
</head>

<body onload="kapat()">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-5 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            @*<div class="brand-logo">
            <img src="~/Content/Style/İmages/logo.png" alt="logo" />

        </div>*@
                            <h4>Şifremi Unuttum</h4>
                            <br />
                            @if (@TempData["SendPassword"] != null)
                            {
                                <div id="dv1" class="alert alert-success">
                                    <strong style="font-size:15px;">@TempData["SendPassword"]</strong>
                                </div>
                            }
                            <br />
                            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Get))
                            {
                                @Html.TextBox("Name", null, new { @class = "form-control", @placeholder = "Kullanıcı adınızı" })
                                <br />
                                @Html.TextBox("Mail", null, new { @class = "form-control", @placeholder = "Mail Adresinizi Girin" })
                                <br />
                                <button class="btn btn-primary"><i class="mdi mdi-account-check"></i>&nbsp;&nbsp;Gönder</button>
                                <br />
                                <br />
                                <a href="~/Login/Login"><p style="font-size:15px;"><b> <i class="mdi mdi-arrow-left"></i>Giriş Yap</b></p></a>

                            }
                            @*<div class="form-group">
            <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Kullanıcı Adı giriniz">
        </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Şifre giriniz">
            </div>
            <div class="mt-3">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">GİRİŞ YAP</button>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
            </div>*@

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Style/star-admin2-free-admin-template-main/star-admin2-free-admin-template-main/template/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Style/star-admin2-free-admin-template-main/star-admin2-free-admin-template-main/template/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/Style/admintemp/admintemp/template/js/off-canvas.js"></script>
    <script src="~/Content/Style/admintemp/admintemp/template/js/hoverable-collapse.js"></script>
    <script src="~/Content/Style/admintemp/admintemp/template/js/template.js"></script>
    <script src="~/Content/Style/admintemp/admintemp/template/js/settings.js"></script>
    <script src="~/Content/Style/admintemp/admintemp/template/js/todolist.js"></script>
    <!-- endinject -->
</body>

<script>
    function kapat() {
        setTimeout("document.getElementById('dv1').style.display = 'none'", 3000);
    }

</script>
</html>