@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Section1", "About")
<body onload="kapat()">
    <section id="contact" class="contact mb-5">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="page-title">İletişim</h1>
                </div>
            </div>

            <div class="row gy-4">
                <div class="col-md-4">
                    <div class="info-item ">
                        <i class="bi bi-phone"></i>
                        <h3>Ad Soyad</h3>
                        <p><a href="tel:+155895548855">Duygu Delice</a></p>
                        <p><a href="tel:+155895548855">Oğuzhan Sezer</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-item info-item-borders">
                        <i class="bi bi-phone"></i>
                        <h3>Telefon Numarası</h3>
                        <p><a href="tel:+155895548855">5510919849</a></p>
                        <p><a href="tel:+155895548855">5511630791</a></p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-4">
                    <div class="info-item">
                        <i class="bi bi-envelope"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:gdelice2244@gmail.com">gdelice2244@gmail.com</a></p>
                        <p><a href="mailto:oguzhansezer14@gmail.com">oguzhansezer14@gmail.com</a></p>
                    </div>
                </div><!-- End Info Item -->

            </div>
            @if (@TempData["MesajGonderildi"] != null)
            {
                <div id="dv1" class="alert alert-success">
                    <strong style="font-size:15px;">@TempData["MesajGonderildi"]</strong>
                    @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>*@
                </div>
            }
            <div class="form mt-5">
                <form id="contact" action="/About/Index" method="post">
                    <label for="Name">Ad-Soyad</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="MesajGonderenAdSoyad" id="subject" placeholder="Ad-Soyad" autofocus required>
                    </div>
                    <label for="Name">Mail</label> <br />
                    <div class="form-group mt-3">
                        <input type="email" class="form-control" minlength="2" maxlength="40" name="MesajGonderenMail" id="subject" placeholder="Mail" required>
                    </div>
                    <label for="Name">Mesaj Başlığı</label> <br />
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Mesajbaslik" minlength="2" maxlength="100" id="subject" placeholder="Ne İçin Mesaj Gonderiyorunuz?" required>
                    </div>
                    <label for="Name">Mesaj</label> <br />
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="Mesaj" rows="7" minlength="20" maxlength="800" placeholder="Mesajınız" required></textarea>
                    </div>
                    <br />
                    <br />


                    <button class="btn btn-primary" name="submit" type="submit" id="submit">GÖNDER</button>

                </form>

            </div><!-- End Contact Form -->

        </div>
    </section>
</body>
<script>
    function kapat() {
        setTimeout("document.getElementById('dv1').style.display = 'none'", 3000);
    }
</script>
