
@{
    Layout = null;
}

<div class="form-group">
    <form method="post">
        <input placeholder="ID" name="Tamirciid" required value="@ViewBag.deger" type="hidden" readonly="readonly" />
        <br />

        <button type="submit" name="formyorum" class="btn btn-outline-danger"><i class="bi bi-hand-thumbs-down"></i></button>
    </form>
</div>

