
@{
    Layout = null;
}

<div class="form-group">
    <h3>PUAN VERİN</h3>

    <form method="post" >
        <input placeholder="ID" name="Tamirciid" required value="@ViewBag.deger" type="hidden" readonly="readonly" />
        <br />

        <input type="submit" name="formyorum" value="OLUMLU" />
    </form>
</div>

