
@{
    Layout = null;
}

<div class="form-group">
    <h4 style="color:lightcoral;">Tamirciyi Puanlayın</h4>

    <form method="post">
        <input placeholder="ID" name="Tamirciid" required value="@ViewBag.deger" type="hidden" readonly="readonly" />
        <br />
        <button type="submit" name="formyorum" class="btn btn-outline-success"><i class="bi bi-hand-thumbs-up"></i></button>
    </form>
</div>

