
@{
    Layout = null;
}

<div class="form-group">
    <form method="post">
        <input placeholder="ID" name="Tamirciid" required value="@ViewBag.deger" type="hidden" readonly="readonly" />
        <br />

        <input type="submit" name="formyorum" value="OLUMSUZ" />
    </form>
</div>
