<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <p style="text-align:center; color:cornflowerblue; font-size:29px;"><b>SİZE EN YAKIN TAMİRCİLER</b></p>
        </div>
        <br />
        <div class="row gy-6">
            <button type="button" class="btn btn-outline-primary"><a href="#">Yakınınızdaki Tamircileri Bulun!</a></button>
        </div>

    </div>
</section><!-- End Chefs Section -->
