@using Tamirci.Models
@model List<Tamirciler>

<!------ Include the above in your HEAD tag ---------->
<style>
    .counter {
        background-color: #f7f5f5;
        text-align: center;
    }

    .employees, .customer, .design, .order {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .counter-count {
        font-size: 18px;
        background-color: #00b3e7;
        border-radius: 50%;
        position: relative;
        color: #ffffff;
        text-align: center;
        line-height: 92px;
        width: 92px;
        height: 92px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: inline-block;
    }

    .employee-p, .customer-p, .order-p, .design-p {
        font-size: 24px;
        color: #000000;
        line-height: 34px;
    }
</style>
<section id="team" class="team section-bg">
    <div class="counter">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.Action("TotalTamirci2", "Home")
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.Action("TotalYorum", "Home")
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.Action("TotalBaşvuru", "Home")
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.Action("TotalTıklanma", "Home")
                </div>
            </div>
        </div>
    </div>
</section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    $('.counter-count').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
            duration: 5000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>
