
@{
    ViewBag.Title = "Site_Usage_Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Site Kullanım Kuralları</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 d-flex align-items-stretch">
                <div class="member">
                    <p style="color: black; font-size: 17px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: justify;">
                        Metaş Yazılım sitesinde yer alan sayfalardaki bilgi, materyal ve içerik, şartlar, hükümler ve tanımlar, Metaş Yazılım tarafından haber vermeksizin değiştirilebilir. Bu siteye ve herhangi bir sayfasına girerek, aşağıda yer alan şart ve hükümleri kabul etmiş sayılırsınız. Eğer aşağıdaki şart ve hükümleri kabul etmiyorsanız, bu site ve içeriğinde yer alan sayfalara girmeyiniz. Metaş Yazılım, herhangi bir internet sitesine link vererek, bu sitelerde sunulan ürün ve hizmetleri tavsiye etmiş olmaz. Bu internet sitelerinde sunulan hizmet ve ürünlerden doğabilecek şikayetlerden dolayı Metaş Yazılım sorumlu tutulamaz. Metaş Yazılım, kendi sitesine veya bağlantı verdiği diğer sitelere erişim sonucu ziyaretçinin karşılaşabileceği doğrudan veya dolaylı herhangi bir sorun, aksaklık, hasar veya diğer olumsuzluklardan sorumlu tutulamaz. Bu web sitesinin kullanımından doğabilecek herhangi bir şikayetin çözüm mercii Türkiye Cumhuriyeti kanun ve mahkemeleridir. Bu site içeriğinde yer alan herhangi bir bilginin yanlış ve menfi amaçlı kullanımı yasaktır. Bu site, Metaş Yazılım' dan bağımsız gerçek ve tüzel kişilerce sahip olunan veya işletilen internet sitelerine bağlantılar içerebilir. Bu gibi internet sitelerinde yer alan hiçbir bilgi ve içerikten dolayı Metaş Yazılım sorumluluk kabul etmez. Benzer şekilde, Metaş Yazılım, kendisinden bağımsız olarak sahip olunan veya işletilen internet sitelerinden bu siteye gerçekleşen bağlantılardan dolayı herhangi bir sorumluluk kabul etmez.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section><!-- End Team Section -->
